/* 
    3 column preview card component
    Creador @jaglux12 (https://github.com/jaglux12)
    Proyecto n3 - Curso de Programación
    Licencia - GNU/GPL v2
*/

/* Reseteo de estilos */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */

:root{

    /* Colores primarios */
    --Bright-orange: hsl(31,77%,52%);
    --Dark-cyan: hsl(184,100%,22%);
    --Very-dark-cyan: hsl(179,100%,13%);

    /* Colores del texto */
    --transparent-white:hsla(0, 0%,100%,0.75);
    --very-light-gray: hsl(0,0%,95%);

}

html{
    font-size: 15px;
}

body{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

main{
    background-color: white;
    display: flex;
    flex-direction: column;
}

article{
    display: flex;
    flex-direction: column;
    height: 442px;
    justify-content: space-evenly;
    padding: 3.2rem;
    width: 327px;
}

h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2.5rem;
}

p{
    color: var(--transparent-white);
}

p, button{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

button{
    border: none;
    border-radius: 24px;
    height: 48px;
    width: 146px;
}

h1, button{
    color: var(--very-light-gray);
}

/* Color de las cards */

.sedan{
    background-color: var(--Bright-orange);
}

.suv{
    background-color: var(--Dark-cyan);
}

.lux{
    background-color: var(--Very-dark-cyan);
}


/* Color de los botones */

.bsedan{
    color: var(--Bright-orange);
}

.bsuv{
    color: var(--Dark-cyan);
}

.blux{
    color: var(--Very-dark-cyan);
}

/* Media queries */

@media (min-width: 991px) {
    main{
        flex-direction: row;
    }
}
